@media screen and (max-width: 1100px)
   .up
      left: calc(50% - 15px)
   .menu 
      display: none
   section, footer 
      margin-left: 0px
   .content 
      padding: 30px
                              /*Portfolio*/   
   .overlay 
      border-bottom: 85px solid #9cbc68
      border-left: 85px solid transparent
   .corner-overlay-content 
      font-size: 12px
   .overlay-content p 
      padding: 0px 0 2px
      margin-bottom: 2px
      font-size: 14px
   .overlay-content a 
      padding: 3px 0
                              /*about*/      
   .about-text__query 
      font-size: 16px
   .about-text__descr 
      font-size: 12px
   .about-title, .skills-title, .portfolio-text h2, .contacts-text h2
      font-size: 20px
   .block-title 
      font-size: 14px
   .bar-con 
      height: 12px
                              /*contact*/    
   .block-content p, .block-content a 
      font-size: 14px
   .block-input, .block-text 
      padding: 10px
@media screen and ( max-width: 768px)
   .header-text h1
      font-size: 30px
   .element 
      font-size: 20px
                        /* end Header*/
                        /*Portfolio*/
   .block 
      max-width: 300px
      width: 100%
                     /*About*/
   .about-title, .skills-title, .portfolio-text h2, .contacts-text h2, 
      text-align: center
   .box
      align-items: center
   .about-foto 
      width: 250px
   .about-text 
      width: 100%
   .skills-box
      flex-direction: column
   .skills-block 
      padding: 0 10px
      width: 100%
                        /*Contact*/
   .block-icon
      flex-wrap: wrap
      align-items: baseline
   .block-content
      padding: 0 10px
   .box-form
      align-items: center
      flex-direction: column
   .btn 
      margin: 0 auto
      display: block
   .block-input input
      width: 100%
   .block-input, .block-text 
      width: 90%
  

@media screen and ( max-width: 425px)
   .box
      flex-direction: column-reverse
   .header-text h1 
      font-size: 25px  
   .element 
      font-size: 18px
           
   .block-content p, .block-content a 
    font-size: 12px
   .block-content i 
      font-size: 25px
   .block-content 
      padding: 0px 5px
      width: 100%
      text-align: center
   .block-input, .block-text 
      width: 100%
   #country 
      width: 85px
      padding: 0
   .about-foto 
      width: 200px
          /* end Contact*/
   
   footer .content 
      padding: 20px 10px
   .footer-text h3
      font-size: 15px
   .logo 
      font-size: 30px
   .footer-text .logo 
      margin-right: 5px
   .footer-social li 
      padding: 5px
      margin: 5px
      font-size: 15px
